FlowSchema.xml

<?xml version="1.0"?> 





<!-- 14 openflow tuples to describe a flow


openflow tuples
14 types
called match fields
header fields

use these tuples to define match rules in network monitor

Ingress Port number, starting at one
Ethernet source address 48 bits
Ethernet destination address 48 bits
Ethernet Type 16 bits  -octect, but treat as string
VLAN id 12 bits
Vlan priority 3 bits
IP source address 32 bits
IP destination address 32 bits
IP protocol 8 bits
IP ToS bits 6 bits
Transport source port/ICMP type 16 bits
Transport destination port/ICMP code 16 bits

-->



<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


<xs:element name="openflow">
<xs:complexType>
	<xs:all>
	<xs:element name="IngressPort" type="xs:integer" minOccurs = "0"/>
	<xs:element name="EthernetSource" type="xs:string" minOccurs = "0"/>
	<xs:element name="EthernetDestination" type="xs:string" minOccurs = "0"/>
	<xs:element name="EthernetType" type="xs:string" minOccurs="0" />
	<xs:element name="VLANpriority" type ="xs:string" minOccurs ="0" />
	<xs:element name="IPSourceAddress" type ="xs:string" minOccurs = "0"/>
	<xs:element name="IPDestinationAddress" type ="xs:string" minOccurs = "0"/>
	<xs:element name="IPprotocol" type ="xs:string" minOccurs = "0"/>
	<xs:element name="IPToS" type ="xs:string" minOccurs = "0" />
	<xs:element name="sourcePort" type ="xs:string" minOccurs = "0"/>
	<xs:element name="destinationPort" type ="xs:string" minOccurs = "0"/>
	<xs:element name="VLANID" type ="xs:string" minOccurs = "0"/>
	</xs:all>
</xs:complexType>
</xs:element>
</xs:schema>
